<template>
  <div class="about" v-if="shop">
    <h1>{{ shop.name }}</h1>
    <p>営業時間：{{ shop.opening_time }}～{{ shop.closing_time }}</p>
    <h2>取扱商品</h2>
    <div>
      <div v-for="item in shop.items" :key="item.id">
        <v-card style="margin-bottom: 1rem;">
          <v-img :src="item.photo"></v-img>
          <v-card-title>{{ item.name }}</v-card-title>
          <div style="padding: 0 1rem;">
          <v-text-field placeholder="購入数量を入力" v-model="item_quantity[item.id]"></v-text-field>
          </div>
        </v-card>
      </div>
    </div>
    <v-app>
      <div class="input_field">
        <v-text-field placeholder="氏名" v-model="name"></v-text-field>
      </div>
      <div class="input_field">
        <v-text-field placeholder="電話番号" v-model="number"></v-text-field>
      </div>
      <div class="input_field">
        <v-text-field placeholder="郵便番号" v-model="zip_code"></v-text-field>
      </div>
      <div class="input_field">
        <v-text-field placeholder="住所" v-model="address"></v-text-field>
      </div>
      <div class="input_field" style="margin-bottom: 1rem;">
        <v-btn color="primary" v-on:click="pushed_order_button">
          注文
        </v-btn>
      </div>
    </v-app>
  </div>
</template>

<style>
.input_field {
  padding: 0 1rem;
}
</style>

<script>
export default {
  name: "About",
  data() {
    return {
      shop: null,
      item_id: null,
      item_quantity: {},
      name: null,
      number: null,
      zip_code: null,
      address: null,
    };
  },
  mounted() {
    // ページが読み込まれたときの処理
    fetch("https://ma20201010.herokuapp.com/api/shops/" + this.$route.params.id)
      .then((response) => {
        // レスポンス（取得したデータを）JSONとして扱う
        return response.json();
      })
      .then((json) => {
        // shopに代入する
        this.shop = json;
      });
  },
  methods: {
    pushed_order_button: function() {
      fetch("https://ma20201010.herokuapp.com/api/order/" + this.$route.params.id, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(this.request_params()),
      });
    },

    request_params: function() {
      let items = [];
      for (let key in this.item_quantity) {
        items.push({
          id: key,
          quantity: this.item_quantity[key],
        });
      }

      return {
        items: items,
        name: this.name,
        number: this.number,
        zip_code: this.zip_code,
        address: this.address,
      };
    },
  },
};
</script>
