<template>
  <div class="home p-3">
    <div v-for="shop in shops" :key="shop.id" class="p-1">
      <v-card style="margin-bottom: 1rem;">
        <v-img :src="shop.photo"></v-img>
        <v-card-title>{{ shop.name }}</v-card-title>
        <v-card-text>
          営業時間：{{ shop.opening_time }}～{{ shop.closing_time }}<br />
          <router-link :to="'/about/' + shop.id">詳細</router-link>
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      shops: null,
    };
  },
  mounted() {
    // ページが読み込まれたときの処理
    fetch("https://ma20201010.herokuapp.com/api/shops")
      .then((response) => {
        // レスポンス（取得したデータを）JSONとして扱う
        return response.json();
      })
      .then((json) => {
        // shopsに代入する
        this.shops = json;
      });
  },
};
</script>
