<template>
  <v-app>
    <div id="app" style="padding:0 1rem;">
      <header>
        <h1>村山宅配サービス</h1>
      </header>
      <router-view />
    </div>
  </v-app>
</template>

<style lang="scss">
#app {
  text-align: center;
  color: #2c3e50;
}

h1 {
  padding: 1rem 0;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.footer {
  background-color: #dddddd;
  font-size: 2rem;
}
</style>
